.foot-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

.blue-mui {
    background-color: #1e88e5 !important;
    font-weight: bold;
}


/*************footer End*****************/